<p id="notice"><%= notice %></p>

<p>
  <strong>Value:</strong>
  <%= @price.value %>
</p>

<p>
  <strong>Product:</strong>
  <%= Product.find_by_id(@price.product_id).name %>
</p>

<%= link_to 'Edit', edit_price_path(@price) %> |
<%= link_to 'Back', prices_path %>
